/* bodyタグの背景色変更 */
body {
  background-color: #263238;
}

/* h1タグの文字色変更 */
h1 {
  color: #ffffff;
}

/* tableタグのスタイル変更 */
table {
  width: 400px;
  height: 800px;
  margin: 0 auto;
}

/* tdタグの文字色変更 */
td {
  width: 10%;
  height: 5%;
  background-color: #455a64;
}

.i {
  background-color: #00bcd4; /* cyan */
}

.o {
  background-color: #ffeb3b; /* yellow */
}

.t {
  background-color: #9c27b0; /* purple */
}

.s {
  background-color: #4caf50; /* green */
}

.z {
  background-color: #f44336; /* red */
}

.j {
  background-color: #2196f3; /* blue */
}

.l {
  background-color: #ff9800; /* orange */
}
